:root {
    --amarelo-dark: #daac00;
    --amarelo: #fcc302;
    --azul: #00bec9;
    --branco: white;
    --cinza: #909090;
    --preto: #313243;
    --bg-footer: #343434;
    --familia-corpo: 'Poppins', sans-serif;
    --tamanho-corpo: 1rem;
}